//// Connexion base de données

<?php

$servername = "{{ hostvars['demoserver1'].ansible_host }}";
$username = "{{ hostvars['demoserver1'].dbuser }}";
$password = "{{ hostvars['demoserver1'].upassword }}";
$dbname = "{{ hostvars['demoserver1'].dbname }}";
#$server="10.69.8.33";
#$user="julien";
#$pass="password";
#$db="train";



$link = mysqli_connect($servername , $username, $password);
if (!$link) {
   die('Impossible de se connecter : ' . mysqli_error());
}

// Rendre la base de données foo, la base courante
$db_selected = mysqli_select_db($dbname, $link);
if (!$db_selected) {
   die ('Impossible de sélectionner la base de données : ' . mysqli_error());
}

?>

///// Affichage tableau


<?php

$servername = "{{ hostvars['demoserver1'].ansible_host }}";
$username = "{{ hostvars['demoserver1'].dbuser }}";
$password = "{{ hostvars['demoserver1'].upassword }}";
$dbname = "{{ hostvars['demoserver1'].dbname }}";

// C'est la meilleur façon d'exécuter une requête SQL
// Pour plus d'exemples, voir mysql_real_escape_string()
$query = "select * from tgv";

// Exécution de la requête
$result = mysqli_query($query);

// Vérification du résultat
// Ceci montre la requête envoyée à MySQL ainsi que l'erreur. Utile pour déboguer.
if (!$result) {
    $message  = 'Requête invalide : ' . mysqli_error() . "\n";
    $message .= 'Requête complète : ' . $query;
    die($message);
}

// Utilisation du résultat
// Tenter d'affichager $result ne vous donnera pas d'informations contenues dans la ressource
// Une des fonctions MySQL de résultat doit être utilisée
// Voir aussi mysql_result(), mysql_fetch_array(), mysql_fetch_row(), etc.

echo "
<style>

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

</style>";

echo "<table>
    <thead>
        <tr>
            <th colspan=\"5\">The table header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> id train </id>
            <td>depart </td>
            <td>arrive</td>
            <td>ville depart </td>
            <td>ville arrivee</td>
        </tr>";

while ($row = mysqli_fetch_assoc($result)) {
    echo "<tr>";

    echo "<td>".$row['id_TGV']."</td>";
    echo "<td>".$row['Date_depart']."</td>";
    echo "<td>".$row['Date_arrivee']."</td>";
    echo "<td>".$row['id_gare_depart']."</td>";
    echo "<td>".$row['id_gare_arrivee']."</td>";

    echo "</tr>";

}

?>
